.nav{
    text-decoration: none; 
    font-size: 20px; 
    padding: 10px;
    background-color: #3367bd;
    color: white;
}
.container{
    padding-left: 13px; 
    padding-right: 13px; 
    text-align: center; 
    margin: 0 auto; 
    font-size: 22px;
}
.topphrase{
    line-height: 0; 
    font-weight: lighter; 
    text-align: center; 
    font-size: 35px;
}
.connect{
    color: white;  
    background-color: #2090d1; 
    text-align: center;
    padding: 10px;
}
.bottomphrase{
    line-height: 0;
    font-weight: bold; 
    text-align: center; 
    text-transform: uppercase;
    font-size: 35px;
}
.border{
    border-left: 20px solid #cccccc;
    border-right: 20px solid #cccccc;
}
.connect{
    font-size: 25px; 
    color: white; 
    margin-bottom: 13px; 
    background-color: black; 
    text-align: center;
    padding: 13px;
}
.foot{
    color: white; 
    background-color: #3367bd;
    font-size: 20px; 
    text-align: center; 
    padding: 13px; 
    border-top: 1px solid #cccccc;
    padding-bottom: 1rem;
    text-align: center;
}
.logo{
    margin: 0.5rem;
    text-decoration: none;
}
.half{
    width: 50%;
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}
.unbold{
    font-weight: 1;
}
.section{
    font-weight: bold;
    font-size: 35px;
    padding: 13px;
    background-color: #3367bd;
    color: white;
    margin-left: 13px;
}
.title{
    font-size: 35px;
    color: #5731ab;
}
table{
    table-layout: fixed; 
    width: 100%;
}


.col-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.col {
    padding: 20px;
}

@media screen and (max-width:641px) {
    .col-container {
        grid-template-columns: 1fr;
    }
}
